body {
text-align: center;
    
}
#s1 {
background-color: dodgerblue;    
}
#Carousel {
background-color: darkgoldenrod;    
}
#Carousel img{
height: 432px;
margin-top: 35px;
margin-bottom:35px;     
}
p  {
color: cyan;
font-size: 25px    
}
#p1  {
color: cyan;
font-size: 20px    
}
#s3{
background-color: fuchsia;
margin-top: 35px;
margin-bottom 35px;    
}